{% include 'saisX/base.html' %}
{% load staticfiles %}

{% block title %}
<title>SAIS | My Courses</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row center green darken-4 white-text head-container" >
    <h3>My Courses</h3>
  </div>
  <div class="row info-container grey lighten-3">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li>
        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">S.Y. 2013-2014</b></span></div>
        <div class="collapsible-body">
            <div class="scollapsible-container">
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">First Semester</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">Second Semester</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">Mid Year</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">S.Y. 2014-2015</b></span></div>
        <div class="collapsible-body">
            <div class="scollapsible-container">
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">First Semester</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">Second Semester</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">Mid Year</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">S.Y. 2015-2016</b></span></div>
        <div class="collapsible-body">
            <div class="scollapsible-container">
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">First Semester</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">Second Semester</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">Mid Year</b></span></div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
