{% include 'saisX/base.html' %}
{% load staticfiles %}

{% block title %}
<title>SAIS | Manage Courses</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row center green darken-4 white-text head-container" >
    <h4>Manage My Courses</h4>
  </div>
  <div class="row info-container grey lighten-3">
    <div class="row center">
      <div class="input-field offset-l2 offset-m2 offset-s2  col l8 m8 s8 center">
        <input type="text" id="search_course" class="validate center">
        <label for="search_course"><i class="material-icons" style="vertical-align: bottom">search</i>Search Course</label>
      </div>
    </div>
    <div class="row center">
      <h5><b>Search Results</b></h5>
    </div>
    <div class="row">
      <div class="offset-l2 offset-m2 offset-s2 col l8 m8 s8">
        <ul class="collection">
          <li class="collection-item">
            <div class="row" style="margin-bottom: 0px">
              <div class="col l11 m11 s11">
                CMSC 22 - Object-Oriented Programming
              </div>
              <div class="col l1 m1 s1">
                <form action="#!">
                  <input type="checkbox" id="course_check1">
                  <label for="course_check1"></label>
                </form>
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row" style="margin-bottom: 0px">
              <div class="col l11 m11 s11">
                Bio 1 - Introduction to Biology
              </div>
              <div class="col l1 m1 s1">
                <form action="#!">
                  <input type="checkbox" id="course_check2">
                  <label for="course_check2"></label>
                </form>
              </div>
            </div>
          </li><li class="collection-item">
            <div class="row" style="margin-bottom: 0px">
              <div class="col l11 m11 s11">
                Socsci 2 - Something about SOCSCI
              </div>
              <div class="col l1 m1 s1">
                <form action="#!">
                  <input type="checkbox" id="course_check3">
                  <label for="course_check3"></label>
                </form>
              </div>
            </div>
          </li><li class="collection-item">
            <div class="row" style="margin-bottom: 0px">
              <div class="col l11 m11 s11">
                Math 17 - Elementary Algebra and Trigonometry
              </div>
              <div class="col l1 m1 s1">
                <form action="#!">
                  <input type="checkbox" id="course_check4">
                  <label for="course_check4"></label>
                </form>
              </div>
            </div>
          </li><li class="collection-item">
            <div class="row" style="margin-bottom: 0px">
              <div class="col l11 m11 s11">
                CMSC 11 - Introduction to Computer Science
              </div>
              <div class="col l1 m1 s1">
                <form action="#!">
                  <input type="checkbox" id="course_check5">
                  <label for="course_check5"></label>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row center">
      <a class="waves-effect waves-light btn enlist-button"><h6><span>Enlist Courses</span></h6></a>
    </div>
    <div class="row center">
      <a href="#">View Enlisted Courses >></a> <br>
      <a href="#">View Enrolled Courses >></a>
    </div>
  </div>
</div>
{% endblock content %}
