{% extends 'saisX/base.html' %}
{% load staticfiles %}
{% block title %}
<title>SAIS | Home</title>
{% endblock title %}
{% block content %}
<div class="container">
  <div class="row center">
	  <h4 class="col l12 m12 s12">Welcome, {{ request.user.get_full_name }}</h4>
  </div>
  <div class="row">
    <div class="col l6 m12 s12 center hb-div">
      <a class="waves-effect waves-light btn home-buttons" href="{% url "enrollment:courses" %}"><h5><span >MANAGE MY COURSES</span></h5></a>
    </div>
    <div class="col l6 m12 s12 center hb-div">
		<a class="waves-effect waves-light btn home-buttons" href="{% url "enrollment:grades" %}"><h5><span >VIEW GRADES</span></h5></a>
    </div>
    <div class="col l6 m12 s12 center hb-div">
		<a class="waves-effect waves-light btn home-buttons" href="{% url "enrollment:schedule" %}"><h5><span>VIEW SCHEDULE</span></h5></a>
    </div>
    <div class="col l6 m12 s12 center hb-div">
      <a class="waves-effect waves-light btn home-buttons" href="{% url "enrollment:profile" %}"><h5><span>VIEW INFORMATION</span></h5></a>
    </div>
    <div class="col l6 m12 s12 center hb-div">
      <a class="waves-effect waves-light btn home-buttons" href="#"><h5><span>DOWNLOAD SYLLABUS</span></h5></a>
    </div>
  </div>
</div>
{% endblock content %}
