{% include 'saisX/base.html' %}
{% load staticfiles %}

{% block title %}
<title>SAIS | View Schedule</title>
{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col l12 m12 s12 green center darken-4 white-text head-container">
			<h3>Schedule</h3>
		</div>
	</div>
	<div class="row schedule-table">
		<div class="col l2 m2 s2 grey lighten-4 center">
			<div class="row">
				<b>Time</b>
			</div>
			<div class="row">
				<b>7:00 AM</b>
			</div>
			<div class="row">
				<b>7:30 AM</b>
			</div>
			<div class="row">
				<b>8:00 AM</b>
			</div>
			<div class="row">
				<b>8:30 AM</b>
			</div>
			<div class="row">
				<b>9:00 AM</b>
			</div>
			<div class="row">
				<b>9:30 AM</b>
			</div>
			<div class="row">
				<b>10:00 AM</b>
			</div>
			<div class="row">
				<b>10:30 AM</b>
			</div>
			<div class="row">
				<b>11:00 AM</b>
			</div>
			<div class="row">
				<b>11:30 AM</b>
			</div>
			<div class="row">
				<b>12:00 PM</b>
			</div>
			<div class="row">
				<b>12:30 PM</b>
			</div>
			<div class="row">
				<b>1:00 PM</b>
			</div>
			<div class="row">
				<b>1:30 PM</b>
			</div>
			<div class="row">
				<b>2:00 PM</b>
			</div>
			<div class="row">
				<b>2:30 PM</b>
			</div>
			<div class="row">
				<b>3:00 PM</b>
			</div>
			<div class="row">
				<b>3:30 PM</b>
			</div>
			<div class="row">
				<b>4:00 PM</b>
			</div>
			<div class="row">
				<b>4:30 PM</b>
			</div>
			<div class="row">
				<b>5:00 PM</b>
			</div>
			<div class="row">
				<b>5:30 PM</b>
			</div>
			<div class="row">
				<b>6:00 PM</b>
			</div>
			<div class="row">
				<b>6:30 PM</b>
			</div>
			<div class="row">
				<b>7:00 PM</b>
			</div>
			<div class="row">
				<b>7:30 PM</b>
			</div>
		</div>
		<div class="col l10 m10 s10" id="days">
			<div class="row grey lighten-4 center">
				<div class="col">
					<b>Sunday</b>
				</div>
				<div class="col">
					<b>Monday</b>
					<div class="card schedule-card green lighten-2" style="top: calc(23.3px * 5); height: calc(23.3px * 3);">
						HIST 2
					</div>
				</div>
				<div class="col">
					<b>Tuesday</b>
					<div class="card schedule-card red" style="top: calc(23.3px * 3); height: calc(23.3px * 3);">
						CMSC 132
					</div>
					<div class="card schedule-card yellow" style="top: calc(23.3px * 14); height: calc(23.3px * 3);">
						CMSC 165
					</div>
				</div>
				<div class="col">
					<b>Wednesday</b>
				</div>
				<div class="col">
					<b>Thursday</b>
					<div class="card schedule-card green lighten-2" style="top: calc(23.3px * 5); height: calc(23.3px * 3);">
						HIST 2
					</div>
				</div>
				<div class="col">
					<b>Friday</b>
					<div class="card schedule-card red" style="top: calc(23.3px * 3); height: calc(23.3px * 3);">
						CMSC 132
					</div>
					<div class="card schedule-card yellow" style="top: calc(23.3px * 14); height: calc(23.3px * 3);">
						CMSC 165
					</div>
				</div>
				<div class="col">
					<b>Saturday</b>
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row center">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
