{% include 'saisX/base.html' %}
{% load staticfiles %}

{% block title %}
<title>SAIS | View Grades</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row center green darken-4 white-text head-container" >
    <h3>View Grades</h3>
  </div>
  <div class="row info-container grey lighten-3">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li>
        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">S.Y. 2013-2014</b></span></div>
        <div class="collapsible-body">
          <div class="row center" style="padding-top: 15px">
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>First Semester</span></h6></a>
            </div>
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>Second Semester</span></h6></a>
            </div>
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>Mid-Year</span></h6></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">S.Y. 2014-2015</b></span></div>
        <div class="collapsible-body">
          <div class="row center" style="padding-top: 15px">
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>First Semester</span></h6></a>
            </div>
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>Second Semester</span></h6></a>
            </div>
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>Mid-Year</span></h6></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header center"><span class="valign-wrapper touch"><b style="width:100%;">S.Y. 2015-2016</b></span></div>
        <div class="collapsible-body">
          <div class="row center" style="padding-top: 15px">
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" data-year="a" href="#grade-modal"><h6><span>First Semester</span></h6></a>
            </div>
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>Second Semester</span></h6></a>
            </div>
            <div class="col l4 m6 s12">
              <a class="waves-effect waves-light btn modal-trigger grades-button" href="#grade-modal"><h6><span>Mid-Year</span></h6></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div id="grade-modal" class="modal">
      <div class="modal-content">
        <h5>Grades</h5>
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Course Code</th>
              <th>Course Name</th>
              <th>Units</th>
              <th>Grades</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CMSC 132</td>
              <td>Review of 130 and 131</td>
              <td>3.0</td>
              <td>4.0</td>
            </tr>
            <tr>
              <td>CMSC 16</td>
              <td>Web Engineering</td>
              <td>3.0</td>
              <td>INC</td>
            </tr>
            <tr>
              <td>CMSC 132</td>
              <td>Review of 130 and 131</td>
              <td>3.0</td>
              <td>4.0</td>
            </tr>
            <tr>
              <td>CMSC 132</td>
              <td>Review of 130 and 131</td>
              <td>3.0</td>
              <td>4.0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
