  {% include 'saisX/base.html' %}
{% load staticfiles %}

{% block title %}
<title>SAIS | View Grades</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row center green darken-4 white-text head-container" >
    <h3>View Grades</h3>
  </div>
  <div class="row info-container grey lighten-3">
    <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header center"><span><b>S.Y. 2013-2014</b></span></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header center"><span><b>S.Y. 2014-2015</b></span></div>
      <div class="collapsible-body">
        <div class="row center" style="padding-top: 15px">
          <div class="col l4 m4 s6">
            <button class="waves-effect waves-light btn grades-button" href=""><h6><span>First Semester</span></h6></button>
          </div>
          <div class="col l4 m4 s6">
            <button class="waves-effect waves-light btn grades-button" href=""><h6><span>Second Semester</span></h6></button>
          </div>
          <div class="col l4 m4 s6">
            <button class="waves-effect waves-light btn grades-button" href=""><h6><span>Mid-Year</span></h6></button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header center"><span><b>S.Y. 2015-2016</b></span></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>

  </div>
</div>
{% endblock content %}
