{% load staticfiles %}
<!Doctype html>
<html>
  <head>
    <title>SAIS | Home</title>
    <link href="{% static 'saisX/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'saisX/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <nav class="row red darken-4">
      <div class="nav-wrapper col l1">
        <a href="#" class="brand-logo"><img src="{% static 'saisX/img/logo.png' %}" alt="" width = "60px"/></a>
      </div>
      <div class="col l6 title">
        <h4>Student Academic Information System</h4>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'channelfix/js/materialize.js' %}"></script>
  <script src="{% static 'channelfix/js/init.js' %}"></script>
  {% block script%}
  {% endblock script%}
</html>
