<!Doctype html>
<html>
  <head>
    <title>SAIS | Home</title>
    <link href="css/materialize.css " rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div>
      <nav class="row">
        <div class="col l6">
            <a href="#" class="brand-logo" id = "logo"><img src="./res/logo-UP.png" ></a>
        </div>
      </nav>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
</html>
