{% load staticfiles %}
<!Doctype html>
<html>
  <head>
    {% block title %}
    {% endblock title %}
    <link href="{% static 'saisX/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'saisX/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <nav class="row red darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left" style = "height: 100% ; width: 64px"><img src="{% static 'saisX/img/logo.png' %}" alt="" width = "95%" height = "95%"/></a>
    		<div class="center title-l">
    			<h4>Student Academic Information System</h4>
    		</div>
    		<div class="center title-s">
    			<h4>SAIS</h4>
    		</div>
  	  </div>
    </nav>
    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="View Grades" href="{% url "enrollment:grades" %}"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="View Schedule" href="{% url "enrollment:schedule" %}"><i class="material-icons">toc</i></a></li>
        <li><a class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="Manage Courses" href="{% url "enrollment:manage" %}"><i class="material-icons">dashboard</i></a></li>
		<li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="Home" href="{% url "enrollment:home" %}"><i class="material-icons">picture_in_picture</i></a></li>
      </ul>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'saisX/js/materialize.js' %}"></script>
  <script src="{% static 'saisX/js/init.js' %}"></script>
  {% block script%}
  {% endblock script%}
</html>
