.nav-wrapper{
  padding-left: 15px !important;
  padding-top: 2px !important ;
}

.logo-div{
  height: 100%
}

.home-buttons{
  height: 60px !important;
  width: 400px !important;
  background-color: #1b5e20 !important;
  display: inline-block;
  vertical-align: middle;
}

.navbar {
	background-color: #242323;
	padding-left: 10px;
	padding-right: 10px;
}

.button-span{
}
