.nav-wrapper{
  padding-left: 15px;
  padding-top: 2px !important ;
}

.logo-div{
  height: 100%
}

.brand-logo{
}



.navbar {
	background-color: #242323;
	padding-left: 10px;
	padding-right: 10px;
  height:
}
