.nav-wrapper{
  padding-left: 15px;
  padding-top: 3px;
  padding-right: 5px !important;
}

.logo-div{
  height: 100%
}

.title{
  padding: 0px 0px 0px 0px;
}



.navbar {
	background-color: #242323;
	padding-left: 10px;
	padding-right: 10px;
  height:
}
